# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

****
## JSON exercise: Submitted by Ahrim Han (2018/11/28)

In [8]:
# load as Pandas dataframe
df = pd.read_json('data/world_bank_projects.json')

In [9]:
df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

df.info()

In [10]:
df.shape

(500, 50)

In [11]:
df[['mjtheme_namecode', 'countryname']]

,mjtheme_namecode,countryname
0,"[{'code': '8', 'name': 'Human development'}, {...",Federal Democratic Republic of Ethiopia
1,"[{'code': '1', 'name': 'Economic management'},...",Republic of Tunisia
2,"[{'code': '5', 'name': 'Trade and integration'...",Tuvalu
3,"[{'code': '7', 'name': 'Social dev/gender/incl...",Republic of Yemen
4,"[{'code': '5', 'name': 'Trade and integration'...",Kingdom of Lesotho
5,"[{'code': '6', 'name': 'Social protection and ...",Republic of Kenya
6,"[{'code': '2', 'name': 'Public sector governan...",Republic of India
7,"[{'code': '11', 'name': 'Environment and natur...",People's Republic of China
8,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of India
9,"[{'code': '2', 'name': 'Public sector governan...",Kingdom of Morocco
10,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of South Sudan
11,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of India
12,"[{'code': '4', 'name': ''}]",Republic of Ghana
13,"[{'code': '5', 'name': 'Trade and integration'...",Democratic Republic of Timor-Leste
14,"[{'code': '6', 'name': 'Social protection and ...",Hashemite Kingdom of Jordan
15,"[{'code': '10', 'name': 'Rural development'}, ...",Samoa
16,"[{'code': '10', 'name': 'Rural development'}, ...",Samoa
17,"[{'code': '8', 'name': 'Human development'}, {...",Republic of Madagascar
18,"[{'code': '8', 'name': 'Human development'}, {...",Kingdom of Cambodia
19,"[{'code': '2', 'name': 'Public sector governan...",Kingdom of Morocco
20,"[{'code': '7', 'name': 'Social dev/gender/incl...",Kyrgyz Republic
21,"[{'code': '9', 'name': 'Urban development'}, {...",Nepal
22,"[{'code': '7', 'name': 'Social dev/gender/incl...",Hashemite Kingdom of Jordan
23,"[{'code': '8', 'name': 'Human development'}, {...",Republic of Tajikistan
24,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of Azerbaijan
25,"[{'code': '11', 'name': 'Environment and natur...",East Asia and Pacific
26,"[{'code': '4', 'name': 'Financial and private ...",Lao People's Democratic Republic
27,"[{'code': '11', 'name': 'Environment and natur...",Pacific Islands
28,"[{'code': '10', 'name': 'Rural development'}, ...",Solomon Islands
29,"[{'code': '7', 'name': 'Social dev/gender/incl...",Republic of Mozambique
...,...,...
470,"[{'code': '5', 'name': 'Trade and integration'...",Republic of Liberia
471,"[{'code': '10', 'name': 'Rural development'}, ...",People's Republic of Bangladesh
472,"[{'code': '11', 'name': 'Environment and natur...",Republic of Armenia
473,"[{'code': '11', 'name': 'Environment and natur...",Republic of Albania
474,"[{'code': '9', 'name': 'Urban development'}, {...",Islamic Republic of Pakistan
475,"[{'code': '4', 'name': 'Financial and private ...",Republic of Indonesia
476,"[{'code': '10', 'name': 'Rural development'}, ...",Socialist Republic of Vietnam
477,"[{'code': '4', 'name': 'Financial and private ...",Republic of Uzbekistan
478,"[{'code': '2', 'name': 'Public sector governan...",Islamic Republic of Pakistan
479,"[{'code': '7', 'name': 'Social dev/gender/incl...",Republic of Guatemala
480,"[{'code': '2', 'name': 'Public sector governan...",Republic of Zambia
481,"[{'code': '8', 'name': 'Human development'}, {...",Republic of India
482,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of India
483,"[{'code': '11', 'name': 'Environment and natur...",Republic of India
484,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of the Philippines
485,"[{'code': '8', 'name': 'Human development'}, {...",Mongolia
486,"[{'code': '2', 'name': 'Public sector governan...",Middle East and North Africa
487,"[{'code': '11', 'name': 'Environment and natur...",United Mexican States
488,"[{'code': '8', 'name': 'Human development'}, {...",Federative Republic of Brazil
489,"[{'code': '9', 'name': 'Urban development'}, {...",The Independent State of Papua New Guine
490,"[{'code': '2', 'name': 'Public sector governan...",Nepal
491,"[{'code': '10', 'name': 'Rural development'}, ...",West Bank and Gaza
492,"[{'code': '8', 'name': 'Human development'}, {...",Islamic Republic of Pakistan
493,"[{'code': '11', 'name': 'Environment and natur...",People's Republic of Bangladesh
494,"[{'code': '6', 'name': 'Social protection and ...",Nepal
495,"[{'code': '4', 'name': 'Financial and private ...",Jamaica
496,"[{'code': '8', 'name': 'Human development'}, {...",Lao People's Democratic Republic
497,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of Guinea
498,"[{'code': '10', 'name': 'Rural development'}, ...",Republic of Indonesia
499,"[{'code': '9', 'name': 'Urban development'}, {...",Republic of Kenya

### 1. Top 10 countries with most projects

We use `json_normalize` to flatten semi-structure data further. This is essential because each country can have multiple projects.

In [12]:
# load json as string
js1 = json.load((open('data/world_bank_projects.json')))
#df1 = json_normalize(js1, 'mjtheme_namecode', ['code', 'name'], errors='ignore', record_prefix='_')
df1 = json_normalize(js1, 'mjtheme_namecode','countryname')
df1.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

In [13]:
df1.shape

(1499, 3)

In [14]:
df1.groupby('countryname').size().sort_values(ascending=False).head(10)

countryname
Republic of Indonesia              56
Republic of India                  51
Socialist Republic of Vietnam      43
Federative Republic of Brazil      41
People's Republic of Bangladesh    41
People's Republic of China         40
Africa                             39
Republic of Yemen                  34
Kingdom of Morocco                 32
Republic of Mozambique             31
dtype: int64

### 2. Top 10 major project themes

We can obtain top 1p major project themes by using `groupby` 'code' or 'name'. However, there are some entries that have only the code and name is missing.

In [15]:
df1.groupby('name').size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [16]:
df1.groupby('code').size().sort_values(ascending=False).head(10)

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
dtype: int64

### 3. Filling missing values of 'name'

1) We make the dataframe (`code_name_map`) indicating the map matching 'code' and 'name' of projects.

In [17]:
import numpy as np

#df2 = df1[['code', 'name']]
df2 = df1.copy()

df2.drop("countryname", axis=1, inplace=True)
#To use dropna(), we replace empty entry to np.nan
df2['name'].replace('', np.nan, inplace=True)
df2.dropna(subset=['name'], inplace=True)

#converted 'code' to numeric type
#df2.code = df2.code.astype(int)
df2['code'] = pd.to_numeric(df2['code'])

code_name_map = df2.drop_duplicates().sort_values('code').reset_index(drop=True)

In [18]:
code_name_map

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management

Or, we can construct the dict (`code_name_map2`) for mapping 'code' and 'name' of projects.

In [19]:
code_name_map2 = {}

for index in np.arange(len(df1)):
    c = pd.to_numeric(df1.code[index])
    if c not in code_name_map2.keys():
        code_name_map2[c] = df1.name[index]

In [20]:
code_name_map2

{8: 'Human development',
 11: '',
 1: 'Economic management',
 6: 'Social protection and risk management',
 5: 'Trade and integration',
 2: 'Public sector governance',
 7: 'Social dev/gender/inclusion',
 4: 'Financial and private sector development',
 10: 'Rural development',
 9: 'Urban development',
 3: 'Rule of law'}

2) To handle with the **missing values**, we fill the empty names referencing the map (`code_name_map`) obtained above.

In [21]:
for index, row in df1.iterrows():
    
    #if name is missing value
    if df1.name[index] == '':
        df1.name[index] = code_name_map.name[pd.to_numeric(df1.code[index]) - 1]

In [22]:
df1.head(10)

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,Environment and natural resources management,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu
5,2,Public sector governance,Tuvalu
6,11,Environment and natural resources management,Tuvalu
7,6,Social protection and risk management,Tuvalu
8,7,Social dev/gender/inclusion,Republic of Yemen
9,7,Social dev/gender/inclusion,Republic of Yemen

3) Therefore, we filled the missing entries of names, so the **final result of the top 10 major project themes** are as follows.

In [23]:
df1.groupby('name').size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
dtype: int64